e2b-code-interpreter
e2b~=1.5.3
requests~=2.32.4
openinference-instrumentation-smolagents
smolagents[e2b,telemetry,toolkit, dev]~=1.19.0
sqlalchemy~=2.0.41
openinference-instrumentation-smolagents
pandas~=2.3.0
numpy
e2b
scikit-learn~=1.7.0
scipy~=1.16.0
python-dotenv~=1.1.1
huggingface-hub~=0.33.1
Jinja2~=3.1.6
requests
ipython~=9.3.0
langchain~=0.3.26
pydantic~=2.11.7
openai~=1.93.0
transformers~=4.53.0
pydantic_core~=2.33.2
faiss-cpu~=1.11.0
duckduckgo-search
altair==5.5.0
narwhals==1.45.0
plotly==6.2.0
