    e2b-code-interpreter
mcp~=1.9.4
sse-starlette~=2.3.6
langfuse~=3.0.5
langchain-community~=0.3.26
    openinference-instrumentation-smolagents
    opentelemetry-exporter-otlp
    opentelemetry-sdk
smolagents[e2b,telemetry,toolkit, dev]~=1.19.0
sqlalchemy~=2.0.41
    opentelemetry-sdk
    opentelemetry-exporter-otlp
    openinference-instrumentation-smolagents
gradio~=5.34.2
    ipywidgets
pandas~=2.3.0
langchain-core~=0.3.66
numpy~=2.2.6
e2b~=1.5.2
fastapi~=0.115.13
scikit-learn~=1.7.0
scipy~=1.15.3
python-dotenv~=1.1.1
huggingface-hub~=0.33.0
Jinja2~=3.1.6
PyYAML~=6.0.2
pillow~=11.2.1
rich~=14.0.0
requests~=2.32.4
ipython~=8.37.0
langchain~=0.3.26
anyio~=4.9.0
starlette~=0.46.2
pydub~=0.25.1
tqdm~=4.67.1
pydantic~=2.11.7