torch==2.7.0
vllm==0.9.1
e2b-code-interpreter
e2b
mcp
ollama
requests
sse-starlette
langfuse
langchain-community
openinference-instrumentation-smolagents
opentelemetry-exporter-otlp
opentelemetry-sdk
smolagents[e2b,telemetry,toolkit, dev]
sqlalchemy
opentelemetry-sdk
opentelemetry-exporter-otlp
openinference-instrumentation-smolagents
gradio
ipywidgets
pandas
langchain-core
numpy
e2b
fastapi
scikit-learn
scipy
python-dotenv
huggingface-hub
Jinja2
PyYAML
pillow
rich
requests
ipython
langchain
anyio
starlette
pydub
tqdm
pydantic
ray
openai
transformers
nest-asyncio
pydantic_core~=2.33.2